{%extends 'base.html' %}
{%block body%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/card.css')}}">
<div id="content">
  <div class="container">
    <div class="about">
      <div class="about-author">
        <img src="{{ url_for('static',filename='img/sketch.jpg')}}" style="border-color:#c3c3c3">
        <br><br>
        <span>Hello Blue</span>
      </div>
      <div class="upload">
        <a href="/post" title="Post a Blog">
          <div class="card plate">
            <h3>Post a</h3>
            <h3>Blog</h3>
            <br>
          </div>
        </a>
        <a href="/upload" title="Upload a Game">
          <div class="card plate">
            <h3>Upload a</h3>
            <h3>Game</h3>
            <br>
          </div>
        </a>
        <a href="/add" title="Upload a Video" title="Upload a Video">
          <div class="card plate">
            <h3>Upload a</h3>
            <h3>Video</h3>
            <br>
          </div>
        </a>
      </div>
      <div class="edit" title="Edit a Blog">
        <a href="/edit">
          <div class="card plate">
            <h3>Edit a</h3>
            <h3>Blog</h3>
            <br>
          </div>
        </a>
        <a href="/editor" title="Update a Game">
          <div class="card plate">
            <h3>Update a</h3>
            <h3>Game</h3>
            <br>
          </div>
        </a>
        <a href="/editvideo" title="Delete a Video">
          <div class="card plate">
            <h3>Delete a</h3>
            <h3>Video</h3>
            <br>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
{%endblock%}
